

<ng-container *ngIf="editOrAdd == true">
  <i class="bi bi-pencil-square" [cModalToggle]="fullScreen.id" type="button"
    style="color:black"></i>
  <c-modal #fullScreen [id]="data.name + data.id">
    <c-modal-header>
      <h2 cModalTitle style="font-weight: bolder;">{{data.name}}</h2>
      <button [cModalToggle]="fullScreen.id" class="btn btn-outline-secondary"
        cButtonClose>Exit</button>
    </c-modal-header>
    <c-modal-body>
      <div class="register-form">
        <form cForm class="row g-3 my-2" [formGroup]="form"
          (submit)="onSubmit()">
          <div class="form-group">
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl #inputEditName placeholder="Name"
                type="text" formControlName="name" [(ngModel)]="data.name"
                [ngClass]="{'is-invalid': submitted && f['name'].errors}">
              <label clabel for="inputEditName">Name</label>
            </div>
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Name is required!!</div>
            </div>
          </div>
          <div class="form-group">
            <c-input-group>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl formControlName="price"
                  [(ngModel)]="data.price"
                  placeholder="price" id="inputEditPrice"
                  type="number">
                <label clabel for="inputEditPrice">Price</label>
              </div>
              <div [cFormFloating]="true">
                <select cSelect id="inputEditCurrency"
                  formControlName="currency" [(ngModel)]="data.currency">
                  <option [ngValue]="1">Dollar <span style="font-weight: bold;">$</span></option>
                  <option [ngValue]="2">Euro <span style="font-weight: bold">€</span></option>
                  <option [ngValue]="3">Sterlin <span style="font-weight:
                      bold;">£</span></option>
                  <option [ngValue]="4">Yen <span stlye="font-weight: bold">¥</span></option>
                  <option [ngValue]="5">Turkish Lira <span stlye="font-weight:
                      bold">₺</span></option>
                </select>
                <label cLabel for="inputEditCurrency">Currency</label>
              </div>
            </c-input-group>
          </div>
          <div class="form-group">
            <div cFormFloating>
              <input cFormControl formControlName="duration" placeholder="hour"
                style="width:190px" [(ngModel)]="data.duration"
                [step]="config.hourDuration"
                id="inputEditDurationHour" type="number" min="0"
                [ngClass]="{'is-invalid': submitted && f['duration'].errors}">
              <label cLabel for="inputEditDurationHour">Duration (Minute)</label>
            </div>
            <div *ngIf="submitted && f['duration'].errors"
              class="invalid-feedback">
              <div *ngIf="f['duration'].errors['required']">Duration is
                required!!</div>
            </div>
          </div>
          <div class="form-group">
            <c-form-check [switch]="true" style="width:35%">
              <input cFormCheckInput id="checkBreak"
                formControlName="breakAfterWork"
                [(ngModel)]="data.breakAfter" type="checkbox">
              <label cFormCheckLabel for="checkBreak" class="">A break after
                work</label>
            </c-form-check>
            <c-input-group class="" cCollapse [visible]="data.breakAfter">
              <div cFormFloating>
                <input cFormControl placeholder="hour"
                  formControlName="breakDuration"
                  style="width:190px"
                  id="inputEditBreakHour" [(ngModel)]="data.breakAfterDuration"
                  type="number" min="0" [step]="config.hourDuration"
                  [ngClass]="{'is-invalid': submitted &&
                  f['breakDuration'].errors}">
                <label cLabel for="inputEditBreakHour">Duration (Minute)</label>
              </div>
            </c-input-group>
            <div *ngIf="submitted && f['breakDuration'].errors"
              class="invalid-feedback">
              <div *ngIf="f['breakDuration'].errors['breakTrue']">Break after
                duration is
                required!!</div>
            </div>
          </div>
          <div class="form-group">
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl
                type="color" formControlName="color" [(ngModel)]="data.color"
                [ngClass]="{'is-invalid': submitted && f['color'].errors}">
              <label clabel for="inputEditName">Color</label>
            </div>
            <div *ngIf="submitted && f['color'].errors" class="invalid-feedback">
              <div *ngIf="f['color'].errors['required']">Name is required!!</div>
            </div>
          </div>
          <div class="form-group">
            <div cFormFloating>
              <textarea cFormControl placeholder="Description"
                formControlName="description"
                id="inputEditDescription" [(ngModel)]="data.description"
                [ngStyle]="{ 'height.px': 100 }"
                [ngClass]="{'is-invalid': submitted &&
                f['description'].errors}"></textarea>
              <label cLabel for="inputEditDescription">Description</label>
            </div>
            <div *ngIf="submitted && f['description'].errors"
              class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">Description is
                required!!</div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary"
            style="width:100%">Submit</button>
        </form>

      </div>
    </c-modal-body>
  </c-modal>
</ng-container>
<ng-container *ngIf="editOrAdd == false">
  <div [cModalToggle]="fullScreen.id" type="button">
    <span style="font-size :14px ; font-weight:bold" class="mx-2">Add</span>
    <i class="bi bi-plus-square-fill"
      style="color:black"></i>
  </div>
  <c-modal #fullScreen [id]="'add'">
    <c-modal-header>
      <h2 cModalTitle style="font-weight: bolder;">{{data.name}}</h2>
      <button [cModalToggle]="fullScreen.id" class="btn btn-outline-secondary"
        cButtonClose>Exit</button>
    </c-modal-header>
    <c-modal-body>
      <div class="register-form">
        <form cForm class="row g-3 my-2" [formGroup]="form"
          (submit)="onSubmit()">
          <div class="form-group">
            <div [cFormFloating]="true" class="mb-3">
              <input cFormControl #inputEditName placeholder="Name"
                type="text" formControlName="name" [(ngModel)]="data.name"
                [ngClass]="{'is-invalid': submitted && f['name'].errors}">
              <label clabel for="inputEditName">Name</label>
            </div>
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">Name is required!!</div>
            </div>
          </div>
          <div class="form-group">
            <c-input-group>
              <div [cFormFloating]="true" class="mb-3">
                <input cFormControl formControlName="price"
                  [(ngModel)]="data.price"
                  placeholder="price" id="inputEditPrice"
                  type="number">
                <label clabel for="inputEditPrice">Price</label>
              </div>
              <div [cFormFloating]="true">
                <select cSelect id="inputEditCurrency"
                  formControlName="currency" [(ngModel)]="data.currency">
                  <option [ngValue]="1">Dollar <span style="font-weight: bold;">$</span></option>
                  <option [ngValue]="2">Euro <span style="font-weight: bold">€</span></option>
                  <option [ngValue]="3">Sterlin <span style="font-weight:
                      bold;">£</span></option>
                  <option [ngValue]="4">Yen <span stlye="font-weight: bold">¥</span></option>
                  <option [ngValue]="5">Turkish Lira <span stlye="font-weight:
                      bold">₺</span></option>
                </select>
                <label cLabel for="inputEditCurrency">Currency</label>
              </div>
            </c-input-group>
          </div>
          <div class="form-group">
            <div cFormFloating>
              <input cFormControl formControlName="duration" placeholder="hour"
                style="width:190px" [(ngModel)]="data.duration"
                id="inputEditDurationHour" type="number" min="0"
                [step]="config.hourDuration"
                [ngClass]="{'is-invalid': submitted && f['duration'].errors}">
              <label cLabel for="inputEditDurationHour">Duration (Minute)</label>
            </div>
            <div *ngIf="submitted && f['duration'].errors"
              class="invalid-feedback">
              <div *ngIf="f['duration'].errors['required']">Duration is
                required!!</div>
            </div>
          </div>
          <div class="form-group">
            <c-form-check [switch]="true" style="width:35%">
              <input cFormCheckInput id="checkBreak"
                formControlName="breakAfterWork"
                [(ngModel)]="data.breakAfter" type="checkbox">
              <label cFormCheckLabel for="checkBreak" class="">A break after
                work</label>
            </c-form-check>
            <c-input-group class="" cCollapse [visible]="data.breakAfter">
              <div cFormFloating>
                <input cFormControl placeholder="hour"
                  formControlName="breakDuration"
                  style="width:190px"
                  id="inputEditBreakHour" [(ngModel)]="data.breakAfterDuration"
                  type="number" min="0" [step]="config.hourDuration"
                  [ngClass]="{'is-invalid': submitted &&
                  f['breakDuration'].errors}">
                <label cLabel for="inputEditBreakHour">Duration (Minute)</label>
              </div>
            </c-input-group>
            <div *ngIf="submitted && f['breakDuration'].errors"
              class="invalid-feedback">
              <div *ngIf="f['breakDuration'].errors['breakTrue']">Break after
                duration is
                required!!</div>
            </div>
          </div>
          <div class="form-group">
            <div cFormFloating>
              <textarea cFormControl placeholder="Description"
                formControlName="description"
                id="inputEditDescription" [(ngModel)]="data.description"
                [ngStyle]="{ 'height.px': 100 }"
                [ngClass]="{'is-invalid': submitted &&
                f['description'].errors}"></textarea>
              <label cLabel for="inputEditDescription">Description</label>
            </div>
            <div *ngIf="submitted && f['description'].errors"
              class="invalid-feedback">
              <div *ngIf="f['description'].errors['required']">Description is
                required!!</div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary"
            style="width:100%">Submit</button>
        </form>

      </div>
    </c-modal-body>
  </c-modal>
</ng-container>
