

    <ng-container *ngIf="(isLoaded | async) == true">
      <div class="overlay"></div>
      <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    </ng-container>

<div *ngIf="(isLoaded | async) != true">
<app-widgets-dropdown [infos]="dashboardInfos"></app-widgets-dropdown>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Weekly General Information</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3"
                >
                  <div class="text-medium-emphasis small">Completed Reservations</div>
                  <div class="fs-5 fw-semibold">{{dashboardInfos.weeklySummary?.completedReservationTotal}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Canceled Reservations
                  </div>
                  <div class="fs-5 fw-semibold">{{dashboardInfos.weeklySummary?.cancelledReservationTotal}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0"/>

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,1,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,1,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,2,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,2,false)"
                    value="94"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,3,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,3,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,4,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,4,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,5,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,5,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,6,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,6,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="info"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,0,true)"
                  ></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar
                    color="danger"
                    [value]="getPercentage(dashboardInfos.weeklySummary!,0,false)"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup
                ><span class="badge badge-pill badge-sm bg-info"
                >&nbsp;</span
                ></sup
                >
                <span>Reservations</span>
                &nbsp;&nbsp;
                <sup
                ><span class="badge badge-pill badge-sm bg-danger"
                >&nbsp;</span
                ></sup
                >
                <span>Canceled Reservations</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-warning py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Total Users</div>
                  <div class="fs-5 fw-semibold">{{dashboardInfos.weeklySummary?.userTotal}}</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-success py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">Services</div>
                  <div class="fs-5 fw-semibold">{{dashboardInfos.weeklySummary?.siteServiceTotal}}</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0"/>

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">{{
                  (((dashboardInfos.weeklySummary!.maleTotal)
                  / (dashboardInfos.weeklySummary!.maleTotal + dashboardInfos.weeklySummary!.femaleTotal))
                  * 100).toFixed(2)
                }}%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="warning"
                    [value]="
                  (((dashboardInfos.weeklySummary!.maleTotal)
                  / (dashboardInfos.weeklySummary!.maleTotal + dashboardInfos.weeklySummary!.femaleTotal))
                  * 100).toFixed(2)
                "
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">{{
                  (((dashboardInfos.weeklySummary!.femaleTotal)
                  / (dashboardInfos.weeklySummary!.maleTotal + dashboardInfos.weeklySummary!.femaleTotal))
                  * 100).toFixed(2)
                }}%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="warning"
                    [value]="
                  (((dashboardInfos.weeklySummary!.femaleTotal)
                  / (dashboardInfos.weeklySummary!.maleTotal + dashboardInfos.weeklySummary!.femaleTotal))
                  * 100).toFixed(2)
                "
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <ng-container *ngFor="let service of dashboardInfos.weeklySummary?.siteServiceSummary">
              <div class="progress-group">
              <div class="progress-group-header">
                {{service.siteServiceName}}
                <span class="ms-auto font-bold">
                  {{service.total}} <span class="text-medium-emphasis small">
                    {{(((service.total) / getTotal(dashboardInfos.weeklySummary!.siteServiceSummary)) * 100).toFixed(2)}}%
                  </span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar
                    color="success"
                    [value]="((service.total) / getTotal(dashboardInfos.weeklySummary!.siteServiceSummary)) * 100"
                  ></c-progress-bar>
                </c-progress>
              </div>
            </div>
            </ng-container>
            <div class="divider d-flex justify-content-center">
              <button
                cButton
                class="text-muted btn-link"
                color="transparent"
                size="sm"
                type="button"
              >
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="font-weight:700;font-size: 16px;">Employees <span class="mx-2
        "><button class="btn btn-outline-secondary btn-sm" [cModalToggle]="employeeAdd.id" >Add <i class="bi
                  bi-plus-circle"></i> </button></span></c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th>
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th>Activity</th>
            <th>Info</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of employees; index as i">
            <td>
              <div>{{ user.firstName + " " + user.lastName }}</div>
            </td>
            <td>
              <div class="small text-medium-emphasis">Last login</div>
              <strong>{{ user.lastLoginDate }}</strong>
            </td>
            <td>
             <app-more-employee [data]="user"></app-more-employee>
            </td>
            <td>
              <app-remove-employee [data]="user" (removedData)="deleteEmployee($event)"></app-remove-employee>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-modal #employeeAdd id="employeeAdd" >
<app-add-employee (onChangeEvent)="addEmployee($event)">
 <button [cModalToggle]="employeeAdd.id" class="btn btn-outline-secondary" cButtonClose></button>
</app-add-employee>
</c-modal>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header style="font-weight:700;font-size: 16px;">Last 10 Active Customers</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
          <tr>
            <th>
              <svg cIcon name="cilPeople"></svg>
            </th>
            <th>Activity</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of dashboardInfos.lastActiveUsers; index as i">
            <td>
              <div>{{ user.firstName + " " + user.lastName }}</div>
            </td>
            <td>
              <div class="small text-medium-emphasis">Last login</div>
              <strong>{{ user.lastLoginDate | date : 'medium' }}</strong>
            </td>
          </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
</div>

