 <div class="modal-header">
  <h5 class="modal-title">{{modalData.action == "Add" ? ("addEvent" | translate) : ("editEvent" | translate)}}</h5>
  <ng-content></ng-content>
</div>
<div class="modal-body">
  <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>{{"startTime" | translate}}</label>
        <input
          type="datetime-local"
          formControlName="start"
          class="form-control"
          [ngModel]="modalData.event.start | date:'YYYY-MM-ddTHH:mm:ss.sss'"
          (ngModelChange)="eventChange($event,'start')"
          [ngClass]="{'is-invalid': submitted && f['start'].errors}"
          />
        <div *ngIf="submitted && f['start'].errors" class="invalid-feedback">
          <div *ngIf="f['start'].errors['required']">{{"startTime" | translate}} {{"formError" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label>{{"endTime" | translate}}</label>
        <input
          type="datetime-local"
          formControlName="end"
          class="form-control"
          [ngModel]="modalData.event.end | date:'YYYY-MM-ddTHH:mm:ss.sss'"
          (ngModelChange)="eventChange($event,'end')"
          [ngClass]="{'is-invalid': submitted && f['end'].errors}"
          />
        <div *ngIf="submitted && f['end'].errors" class="invalid-feedback">
          <div *ngIf="f['end'].errors['required']">{{"endTime" | translate}} {{"formError" | translate}}</div>
        </div>
      </div>
       <label *ngIf="form.errors" style="color:red">{{ "dateError" | translate}}</label>
      <div class="form-group">
        <label>{{"userNote" | translate}}</label>
        <input
          type="text"
          formControlName="userNote"
          class="form-control"
          [ngModel]="modalData.event.meta?.userMessage"
          (ngModelChange)="eventChange($event,'userNote')"
          [ngClass]="{'is-invalid': submitted && f['userNote'].errors}"
          />
        <div *ngIf="submitted && f['userNote'].errors" class="invalid-feedback">
          <div *ngIf="f['userNote'].errors['required']">{{"userNote" | translate}} {{"formError" | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Change it</button>
      </div>
    </form>
  </div>
</div>
