<c-nav variant="pills">
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0"
    cNavLink (click)="getStyles('login/'); getCustoms('LoginComponent')">
    Login
  </a>
  <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1"
    cNavLink (click)="getStyles('register/'); getCustoms('RegisterComponent')">
    Register
  </a>
</c-nav>
<c-tab-content #tabContent="cTabContent">
  <c-tab-pane classes="p-3">
    <ng-container *ngIf="((isLoaded | async) != true)">
      <c-card style="font-weight: bold;">
        <c-card-body>
          <h2 cCardTitle>Templates</h2>
          <c-row>
            <ng-container *ngFor="let style of styles">
              <c-col xl='2' md='4' sm='6' xs='12' class=''>
                <app-style-editor [$styleElement]="style"
                  (styleElementChange)="editStyles($event,'login/')"></app-style-editor>
              </c-col>
            </ng-container>
          </c-row>
        </c-card-body>
      </c-card>
      <c-card style="font-weight: bold;">
        <c-card-body>
          <div>
            <h2 cCardTitle>Custom Components <button type="button"
                [cModalToggle]="customLoginComponents.id" class="btn
                btn-outline-primary btn-sm" style="margin-left:5px"><i class="bi
                  bi-plus-circle"></i></button></h2>
          </div>
          <c-row>
            <ng-container *ngFor="let custom of customs | filterCustoms :
              'LoginComponent'">
              <c-col xl='2' md='4' sm='6' xs='12' class=''>
                <app-custom-editor [$customElement]="custom"
                  (customElementChange)="editCustoms($event,'custom/')"
                  (customElementDelete)="deleteCustom($event,'custom/')"></app-custom-editor>
              </c-col>
            </ng-container>
          </c-row>
        </c-card-body>
      </c-card>
      <div class="d-grid gap-2 mx-auto">
        <button type="button" class="btn btn-outline-primary btn-block
          text-center" [cModalToggle]="fullScreen.id" cButton
          (click)="loadForm('LoginComponent')">Refresh Login Page</button>
      </div>
    </ng-container>
  </c-tab-pane>
  <c-tab-pane>
    <ng-container *ngIf="((isLoaded | async) != true)">
      <c-card style="font-weight: bold;">
        <c-card-body>
          <h2 cCardTitle>Templates</h2>
          <c-row>
            <ng-container *ngFor="let style of styles">
              <c-col xl='2' md='4' sm='6' xs='12' class=''>
                <app-style-editor [$styleElement]="style"
                  (styleElementChange)="editStyles($event,'register/')"></app-style-editor>
              </c-col>
            </ng-container>
          </c-row>
        </c-card-body>

      </c-card>
      <c-card style="font-weight: bold;">
        <c-card-body>
          <h2 cCardTitle>Custom Components</h2>
          <c-row>
            <ng-container *ngFor="let custom of customs | filterCustoms :
              'RegisterComponent'">
              <c-col xl='2' md='4' sm='6' xs='12' class=''>
                <app-custom-editor [$customElement]="custom"
                  (customElementChange)="editCustoms($event,'custom/')"
                  (customElementDelete)="deleteCustom($event,'custom/')"></app-custom-editor>
              </c-col>
            </ng-container>
          </c-row>
        </c-card-body>
      </c-card>
      <div class="d-grid gap-2 mx-auto">
        <button type="button" class="btn btn-outline-primary btn-block
          text-center" [cModalToggle]="fullScreen.id" cButton
          (click)="loadForm('RegisterComponent')">Refresh Register Page</button>
      </div>
    </ng-container>
  </c-tab-pane>
</c-tab-content>
<ng-container *ngIf="isLoaded | async">
  <div class="overlay"></div>
  <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
</ng-container>
<c-modal #fullScreen id="fullscreen" [fullscreen]="true">
  <button class="btn btn-outline-primary" style="z-index: 999"
    [cModalToggle]="fullScreen.id" cButtonClose>Close</button>
  <ng-template #layoutComponent let-modal="s"></ng-template>
</c-modal>
<c-modal #customLoginComponents id="customLoginComponent" [fullscreen]="true">
  <app-custom-creator [modalId]="customLoginComponents.id"
    [targetComponent]="'LoginComponent'"
    (customElementChange)="addCustoms($event,'custom/')"></app-custom-creator>
</c-modal>
<c-modal #customRegisterComponents id="customRegisterComponent"
  [fullscreen]="true">
  <button class="btn btn-outline-primary" style="z-index: 999"
    [cModalToggle]="customRegisterComponents.id" cButtonClose>Close</button>
</c-modal>
