<div class="card col-md-6 mt-3 mx-auto" [ngStyle]="styles | async |
  convertStyle:'Register Container'">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Firstname'" [ngStyle]="styles | async |
  convertStyle:'Register Forms'">
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Lastname'"  [ngStyle]="styles | async |
  convertStyle:'Register Forms'">
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Username'"  [ngStyle]="styles | async |
  convertStyle:'Register Forms'">
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Password'"  [ngStyle]="styles | async |
  convertStyle:'Register Forms'">
        </label>
      </div>
      <div class="form-group">
        <button class="btn " type="submit" [ngStyle]="styles |
            async | convertStyle:'Register Button'" [disabled]="_disable">
          <span>Sign Up </span>
        </button>
      </div>
      <a [routerLink]="['/auth/login']">Got an account already? Log in here!</a>
    </form>
  </div>
</div>
<ng-container *ngFor="let custom of customs">
<ngx-dynamic-hooks [content]="custom.content + customsStr" [context]="custom" [parsers]="custom | getParsers"></ngx-dynamic-hooks>
</ng-container>
