/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~@angular/material/theming';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import '../node_modules/flatpickr/dist/flatpickr.min.css';
@import './styles/styles-variables';
@import './styles/style-reset';
@import './styles/styles-reset-scss-theme.scss';
@import '~@coreui/coreui/dist/css/coreui.min.css';
@import "~@coreui/coreui/scss/coreui";
@import "~@coreui/chartjs/scss/coreui-chartjs";
@import "styles/variables";
@import "styles/layout";
@import "styles/fixes";
@import "styles/examples";
@import "styles/custom";
  @import '../node_modules/@syncfusion/ej2-base/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
  @import '../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

$enable-ltr: true;
$enable-rtl: true;

$custom-typography: mat.define-typography-config(
  $font-family: 'Open-sans, Arial, sans-serif'
);

@include mat.core();
@mixin custom-components-theme($theme) {
  @include my-styles-reset-theme($theme);
}


